/* 全体で共通のCSSはこのファイルに記述する */
body {
  background-color: #f0f0f0;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

span {
  word-wrap: break-word;  
}

.main.container{
  margin-top: 30px;
}

.segment {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 1200px;
}

.large.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.formField {
  padding: 5px;
  margin-bottom: 10px;
}

.input {
  height: 30px;
  width: 100%;
}

