/*//color*/
:root {
  --background-color: #fafafa;
  --bar-backgrond-color: #ffffff;
  --text-color: #424242;
  --disabled: #8A8A8A;
  --sub-color: #619077;
  --main-color: #DFE9EC;
  --base-color: #8EBBA3;
}


body {
  background-color: #f0f0f0;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

span {
  word-wrap: break-word;  
}

.main.container{
  margin-top: 30px;
  margin: 30px 20px 0 20px;
}

.segment {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 1200px;
}

.large.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.formField {
  padding: 5px;
  margin-bottom: 10px;
}

.input {
  height: 30px;
  width: 100%;
}

